*{
  margin: 0;
  padding: 0;
}

.main{
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(images/b1.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
  
}
.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;

}




.logo{
  color: #e2ba9d;
  font-size: 35px;
  font-family: arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.menu{
  width: 400px;
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
 
 
}

ul li{
  list-style: none;
  margin-left: 0px;
  margin-right: 40px;
  margin-top: 27px;
  font-size: 15px;

}

ul li a{
  text-decoration: none;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #e2ba9d;
}


/* topcards */
.top-cards{
  width: 100%;
  height: 60vh;
display: flex;
  font-family: 'Roboto', sans-serif;
}
.heading2{
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.heading2 span{
  color: #b2744c;
}
.top-cards .container{
  margin-top: 30px;
}
.top-cards .card{
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.top-cards .card img{
  border-radius: 10px;
  height: 100x;
  width: 100px;
}
.top-cards .card h3{
  text-align: center;
  padding-top: 78px;
  color: white;
}
.top-cards .card:hover{
  transform: translateY(-10px);
}
@media screen and (max-width:767px){
 .top-cards{
  height: 180vh;
 } 
}
@media screen and (max-width:500px){
 .top-cards{
  height: 150vh;
 } 
}
@media screen and (max-width:370px){
 .top-cards{
  height: 120vh;
 } 
}
/* top cards */



